{% extends 'base.html.twig' %}

{% block title %}Group Bank - Actualités{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="color-sombre col-12 mb-5">Actualités de Group Bank</h1>
        <section class="container col-10 row mx-auto" id="postContainer">
            <!-- contenu du blog-->
        </section>
        </div>
{% endblock %}
