{% extends 'base.html.twig' %}

{% block title %}Group Bank - Dépot - Retrait{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="color-sombre col-12 mb-5">Effectuer une opération sur NOMDUCOMPTE</h1> {# inserer nom du compte #}
        <section class="container col-10 row mx-auto" id="postContainer">
            <!-- inserer formulaire dépot retrait-->
        </section>
        </div>
{% endblock %}